.odds {
    background-color: rgb(238, 161, 174);
    font-family: verdana, DejaVu Sans, sans-serif;    
}

#second{
    color: rgb(21, 21, 223);
    font-size: 36px;
}

.third {
    font-size: 24px;

}

#fourth {
    background-color: rgb(158, 255, 158);
    font-size: 24px;
    font-weight: bold;
}